.formssection {
    background-color: $primary;
    border-radius: 10px;
    padding: 20px;
    color:$web-white;
    padding: 3px 20px;
    font-weight: bold;

    .form-heading {
        padding: 20px 0px;
        text-align: center;
        .heading {
            font-size: 20px;
        }
        
    }

    p {
        margin-bottom: 10px;
    }
    label {
        width: 100%;
        input {
            padding: 8px;
            width: 100% !important;
        }
        textarea {
            padding: 8px;
            height: 80px;
        }
    }
    .wpcf7-submit {
        background-color: $web-black;  
    }
    .wpcf7-submit:hover {
        background: $web-white;
        color: $web-black;
        font-weight: 600;
    }

    .wpcf7-not-valid-tip {
        font-weight: bold;
        color: #a70000;
    }
    .wpcf7-response-output {
        color: #af0808;
    }

    .wpcf7-submit {
        width: 36% !important;
        padding: 8px;
        font-size: 18px;
        margin-bottom: 15px;
    }
}

.cta-secondary-button-link {
  background: #1f1c35;
  border: 1px solid #1f1c35;
  color: #fff;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: 6px; /* Niche karne ke liye */
}

.cta-secondary-button-link:hover {
  background: #ff723a;
  border-color: #ff723a;
  color: #fff;
}

@media (max-width:768px) {
    .formssection {
        margin-bottom: 30px;
    }
    .content-heading
    {
        font-size: 25px;
    }
}



