
.header-image-text {
    background-color: #e37e16;
    color: $web-white;
    .header-text {
        color: $web-white;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 34px;
    }
    .header-right-img img {
        border-radius: 10px;
    }
    .btn {
        background: transparent;
        color: #FFFFFF;
        border: 2px solid white !important;
    }

}