
#services {
padding: 30px 0 0 0;
.section-header hr {
    width: 15%;
    border: 2px solid $primary;
    position: absolute;
    margin-top: -8px;
  }
  p {
    margin: 10px 0px;
  }
  ul {
    padding: 0px 0px 0px 20px;
  }
}
  
#services .box {
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
  border: 1px solid #cbc9c9;
  border-radius: 8px;
  h3 {
    margin-top: 20px;
  }
}
#services .box:hover {
    color: $web-white;
    background: $primary;
    h3 {
      margin-top: 20px;
    }
    .btn {
      border: 2px solid;
    }
  }
  #services .box:hover img {
    filter: brightness(0) invert(1);
  }
 #services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

  
#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: $primary;
  background: linear-gradient(45deg, $primary 0%, $primary 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box .icon i:before:hover {
  background: $web-white;
}

#services .box:hover .icon i:before {
  background: linear-gradient(45deg, $web-white 0%, $web-white 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
}

#services .box h4 a {
  color: #444;
}

#services .box .service-text {
  margin-bottom: 0;
  line-height: 1.7rem;
}


.secondary-button {
  background: #1f1c35;
  border-color: #1f1c35;
  color: #fff;
  margin: 4px 0;
  vertical-align: middle;
}

.secondary-button:hover {
  background: #ff723a;
  border-color: #ff723a;
  color: #fff;
}
  